body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
}

.cont span {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.foto {
    padding: 15px;

}

.cont input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    padding: 15px;
}

.altKutular {
    display: flex;
    width: 100%;
}
.kutu{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin:1px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.SpecialSearch {
   
    background-color: #7EE5DA;
    
}
.Links{
    background-color: #70CCC2;
}
.getGoogle{
    background-color: #62B3AA;
}
.getGoogle input{
    width: 300px;
}
footer{
    text-align: center;
    padding: 40px;
    font-weight: 300;
}